In [18]:
import numpy as np
import pandas as pd
import re

In [19]:
animal_df = pd.read_csv('animals_fixed.csv',index_col=False)

In [20]:
animal_df.head(300)

,domesticated,diet,habitat,Kingdom,region,subtype,species
0,wild animal,omnivore,terrestrial animal,mammal,animal found in Oceania,marsupial,bandicoot
1,wild animal,omnivore,terrestrial animal,mammal,animal found in the Americas,marsupial,flying squirrel
2,wild animal,omnivore,terrestrial animal,mammal,animal found in Eurasia,marsupial,flying squirrel
3,wild animal,herbivore,terrestrial animal,mammal,animal found in Oceania,marsupial,kangaroo
4,wild animal,herbivore,terrestrial animal,mammal,animal found in Oceania,marsupial,koala bear
...,...,...,...,...,...,...,...
295,wild animal,carnivore,semi-aquatic animal,reptile,animal found in the Americas,a reptile apart from a lizard or snake,alligator
296,wild animal,carnivore,semi-aquatic animal,reptile,animal found in Eurasia,a reptile apart from a lizard or snake,alligator
297,wild animal,carnivore,semi-aquatic animal,reptile,animal found in the Americas,a reptile apart from a lizard or snake,caimain
298,wild animal,carnivore,semi-aquatic animal,reptile,animal found worldwide,a reptile apart from a lizard or snake,crocodile
299,wild animal,carnivore,terrestrial animal,reptile,animal found worldwide,a reptile apart from a lizard or snake,dinosaur

In [4]:
'''
TO DO:
10. Add learning capabilities
    - if the user wins, they fill a form to add their animal to the database
12. Figure out front-end to link to a website
'''

'\nTO DO:\n10. Add learning capabilities\n    - if the user wins, they fill a form to add their animal to the database\n11. if the animal is found worldwide, it is also found in each continent. (use SQL in another file)\n12. Figure out front-end to link to a website\n'

In [21]:
#chooses a or an for questions with vowels
def make_an(next_word):
    vowels = re.compile("^[aeiouAEIOU]")
    match = vowels.match(next_word)
    if match:
       return 'an'
    else:
       return 'a'

In [22]:
question_counter = 1
filtered_animals = animal_df

def loop_questions(column,filtered_animals):
    global question_counter
    #print("Size of dataset: ",len(filtered_animals))
    list = filtered_animals[column].sort_values().unique().tolist()

    for animal in list:
        print(f"Question {question_counter}: ")
        if pd.notna(animal):
            a_an = make_an(animal)
            response = input(f"Is it {a_an} {animal}?")
            question_counter+=1
            if response == "no":
                filtered_animals = filtered_animals.loc[filtered_animals[column]!=animal]
            if (question_counter<=20) & (column=='species') & (response=="yes"):
                print(f"Amazing. So it's a {animal}. I win!")
                return filtered_animals
            if (len(filtered_animals[column].unique())==1):
                return filtered_animals
            if response == "yes":
                filtered_animals = filtered_animals.loc[filtered_animals[column]==animal]
                break
            if (question_counter>20):
                print("That's 20 questions! You win!")
                return filtered_animals
            if (len(filtered_animals)==0):
                print("I'm out of ideas. You win!")
                return filtered_animals
        
    return filtered_animals

columns = ['domesticated','diet','habitat','Kingdom','region','subtype','species']

for column in range(len(columns)):
    filtered_animals = loop_questions(columns[column],filtered_animals)
    print("Size of dataset: ",len(filtered_animals))

filtered_animals=animal_df

Question 1:

Is it a domesticated animal? yes

Size of dataset:  187
Question 2:

Is it a carnivore? no

Question 3:

Is it a herbivore? yes

Size of dataset:  86
Question 4:

Is it a semi-aquatic animal? no

Size of dataset:  80
Question 5:

Is it a bird? no

Size of dataset:  79
Question 6:

Is it an animal found in Africa? no

Question 7:

Is it an animal found in Eurasia? no

Question 8:

Is it an animal found in Oceania? no

Question 9:

Is it an animal found in the Americas? no

Size of dataset:  10
Question 10:

Is it an animal with horns antlers or tusks? no

Question 11:

Is it a rodent? no

Size of dataset:  5
Question 12:

Is it a cow? no

Question 13:

Is it a donkey? no

Question 14:

Is it a horse? no

Question 15:

Is it a mule? no

Size of dataset:  1