In [48]:
import numpy as np
import pandas as pd
import re

In [49]:
animal_df = pd.read_csv('animal_df.csv',index_col=False)

In [50]:
animal_df.head(300)

,Unnamed: 0,domesticated,diet,habitat,Kingdom,region,subtype,species
0,0,wild animal,omnivore,terrestrial animal,mammal,animal found in Oceania,marsupial,bandicoot
1,1,wild animal,omnivore,terrestrial animal,mammal,animal found in the Americas,marsupial,flying squirrel
2,2,wild animal,omnivore,terrestrial animal,mammal,animal found in Eurasia,marsupial,flying squirrel
3,3,wild animal,herbivore,terrestrial animal,mammal,animal found in Oceania,marsupial,kangaroo
4,4,wild animal,herbivore,terrestrial animal,mammal,animal found in Oceania,marsupial,koala bear
...,...,...,...,...,...,...,...,...
295,295,wild animal,carnivore,terrestrial animal,reptile,animal found in the Americas,lizard,glass lizard
296,296,wild animal,carnivore,terrestrial animal,reptile,animal found in Eurasia,lizard,glass lizard
297,297,wild animal,insectivore,terrestrial animal,reptile,animal found in the Americas,lizard,horned lizard
298,298,wild animal,herbivore,terrestrial animal,reptile,animal found in the Americas,lizard,iguana
299,299,wild animal,carnivore,terrestrial animal,reptile,animal found in Oceania,lizard,komodo dragon

In [30]:
'''
TO DO:
9. Add smarter functionality
    - choose shorter or longer categories first
    - if all categories in the filtered dataset are the same, just go straight to species
    - if all other questions have been asked, no need to ask the final question in a column
10. Add learning capabilities
    - if the user wins, they fill a form to add their animal to the database
'''

Size of dataset:  513
Question 1:

Is it a wild animal yes

Question 2:

Is it a omnivore? no

Question 3:

Is it a herbivore? no

Question 4:

Is it a insectivore? no

Question 5:

Is it a carnivore? yes

Size of dataset:  192
Question 6:

Is it a semi-aquatic animal? no

Question 7:

Is it a terrestrial animal? yes

Size of dataset:  87
Question 8:

Is it a mammal? no

Question 9:

Is it a reptile? yes

Size of dataset:  34
Question 10:

Is it a animal found worldwide? no

Question 11:

Is it a animal found in Africa? no

Question 12:

Is it a animal found in Eurasia? no

Question 13:

Is it a animal found in the Americas? yes

Size of dataset:  8
Question 14:

Is it a snake? yes

Size of dataset:  6
Species list in dataset:  ['rattlesnake', 'kingsnake', 'garter snake', 'galapagos snake', 'copperhead snake', 'boa']
Question 15:

Is it a rattlesnake? yes

Size of dataset:  1

'\nTO DO:\n2. Add animals - stoat,\n3. Dinosaur is not reptile - maybe delete\n4. Skip nan columns - if the last column is nan, break and print I win\n5. add a/an functionality\n7. Add Question Counter\n8. Add functionality to end game after 20 questions\n9. Add smarter functionality\n    - choose shorter or longer categories first\n    - if all categories in the filtered dataset are the same, just go straight to species\n    - if all other questions have been asked, no need to ask the final question in a column\n'

In [51]:
#chooses a or an for questions with vowels
def make_an(next_word):
    vowels = re.compile("^[aeiouAEIOU]")
    match = vowels.match(next_word)
    if match:
       return 'an'
    else:
       return 'a'

In [54]:
question_counter = 1
filtered_animals = animal_df

def loop_questions(column,filtered_animals):
    global question_counter
    #print("Size of dataset: ",len(filtered_animals))
    list = filtered_animals[column].unique().tolist()
    for animal in list:
        print(f"Question {question_counter}: ")
        if pd.notna(animal):
            a_an = make_an(animal)
            response = input(f"Is it {a_an} {animal}?")
            question_counter+=1
            if response == "no":
                filtered_animals = filtered_animals.loc[filtered_animals[column]!=animal]
            if (question_counter<=20) & (len(filtered_animals)==1) & (response=="yes"):
                print(f"Amazing. So it's a {animal}. I win!")
                return filtered_animals
            if response == "yes":
                filtered_animals = filtered_animals.loc[filtered_animals[column]==animal]
                break
            if (question_counter>20):
                print("That's 20 questions! You win!")
                return filtered_animals
            if (len(filtered_animals)==0):
                print("I'm out of ideas. You win!")
                return filtered_animals
            print("Size of dataset: ",len(filtered_animals))
        
    return filtered_animals

columns = ['domesticated','diet','habitat','Kingdom','region','subtype','species']

for column in range(len(columns)):
    filtered_animals = loop_questions(columns[column],filtered_animals)

filtered_animals=animal_df

Question 1:

Is it a wild animal? yes

Question 2:

Is it an omnivore? yes

Question 3:

Is it a terrestrial animal? yes

Question 4:

Is it a mammal? yes

Question 5:

Is it an animal found in Oceania? no

Size of dataset:  59
Question 6:

Is it an animal found in the Americas? no

Size of dataset:  37
Question 7:

Is it an animal found in Eurasia? yes

Question 8:

Is it a marsupial? no

Size of dataset:  18
Question 9:

Is it an animal with horns antlers or tusks? no

Size of dataset:  17
Question 10:

Is it a primate? no

Size of dataset:  13
Question 11:
Question 11:

Is it an animal with stripes? no

Size of dataset:  12
Question 12:

Is it an animal with armor or spikes? no

Size of dataset:  11
Question 13:

Is it a bear? no

Size of dataset:  7
Question 14:

Is it a feline? no

Size of dataset:  6
Question 15:

Is it a mustelid? no

Size of dataset:  4
Question 16:

Is it a racoon? no

Size of dataset:  3
Question 17:

Is it a mongoose? no

Size of dataset:  2
Question 18:

Is it a red panda? no

Size of dataset:  1
Question 19:

Is it a civet? yes

Amazing. So it's a civet. I win!

In [ ]:
#go through each list, ask unique values
#should start with domesticated rather than wild, aquatic rather than terrestrial, but region start with the most common
#Rather than colors, maybe do distinctive features like venom, camouflauge, horns, spikes, armor, spots, stripes
#maybe try first without colour column
#if user input is yes, break and go to next column
#if user input is no, continue
#if question num is 20, print you win and break
#if user input is yes and on last column, print I win and break
#when user input is yes, filter dataset to only those animals, then ask again with new dataset

In [25]:
#iterate through a list and make guesses, return final guess
def count_questions(list, question):
    count=0
    current_question = ''
    for item in list:
        a_an = make_an(list[count])
        current_question = input(f"Question {question}: Is it {a_an} {list[count]}?")
        if (current_question=="yes"):
            question = int(question)
            question +=1
            question = str(question)
            return [list[count], question]
        question = int(question)
        if question == 20:
            print("That's 20 questions! You win! Play again?")
            return
        question = str(question)
        count+=1
        question=int(question)
        question+=1
        question=str(question)

In [23]:
#main, iterate through each column in animal_df until a correct guess is reached
def current_animal():

    animal_kingdom = count_questions(kingdom_list, str(1))
    current_animal_kingdom = animal_df.type[animal_df.Kingdom==animal_kingdom[0]].unique().tolist()
    animal_type = count_questions(current_animal_kingdom, animal_kingdom[1])
    a_an = make_an(animal_type[0])
    current_animal_type = animal_df.subtype[animal_df.type==animal_type[0]].unique().tolist()
    if len(current_animal_type)==1:
        print(f"Great! So it is {a_an} {animal_type[0]}.")
        return
    animal_subtype = count_questions(current_animal_type, animal_type[1])
    current_animal_subtype = animal_df.species[animal_df.subtype==animal_subtype[0]].unique().tolist()
    if len(current_animal_subtype)==1:
        print(f"Great! So it is {a_an} {animal_type[0]}.")
        return
    animal_species = count_questions(current_animal_subtype, animal_subtype[1])
    a_an = make_an(animal_species[0])
    print(f"Great! So it is {a_an} {animal_type[0]}.")

In [24]:
#take question number
#add to new question then start that

def question_num(num):
    question = num
    return question

In [25]:
#add functionality to separate columns based on alphabet
#add insects

In [27]:
current_animal()

Question 1: Is it a  mammal? yes
Question 2: Is it an  Australian or Marsupial? no
Question 3: Is it a  horned/antlered/tusked mammal? no
Question 4: Is it a  primate? no
Question 5: Is it a  rodent? yes
Question 6: Is it a  capybara? no
Question 7: Is it a  beaver? no
Question 8: Is it a  badger? no
Question 9: Is it a  chinchilla? no
Question 10: Is it a  chipmunk? no
Question 11: Is it a  civet? no
Question 12: Is it a  coati? no
Question 13: Is it a  ferret? no
Question 14: Is it a  fossa? no
Question 15: Is it a  gerbil? no
Question 16: Is it a  gopher? no
Question 17: Is it a  hamster? no
Question 18: Is it a  guinea pig? no
Question 19: Is it a  hare? no
Question 20: Is it a  lemming? no

That's 20 questions! You win! Play again?

TypeError: 'NoneType' object is not subscriptable