In [48]:
import numpy as np
import pandas as pd
import re

In [71]:
animal_df = pd.read_csv('animal_df.csv',index_col=False)

In [72]:
animal_df.head(300)

,domesticated,diet,habitat,Kingdom,region,subtype,species
0,wild animal,omnivore,terrestrial animal,mammal,animal found in Oceania,marsupial,bandicoot
1,wild animal,omnivore,terrestrial animal,mammal,animal found in the Americas,marsupial,flying squirrel
2,wild animal,omnivore,terrestrial animal,mammal,animal found in Eurasia,marsupial,flying squirrel
3,wild animal,herbivore,terrestrial animal,mammal,animal found in Oceania,marsupial,kangaroo
4,wild animal,herbivore,terrestrial animal,mammal,animal found in Oceania,marsupial,koala bear
...,...,...,...,...,...,...,...
295,wild animal,carnivore,terrestrial animal,reptile,animal found in the Americas,lizard,glass lizard
296,wild animal,carnivore,terrestrial animal,reptile,animal found in Eurasia,lizard,glass lizard
297,wild animal,insectivore,terrestrial animal,reptile,animal found in the Americas,lizard,horned lizard
298,wild animal,herbivore,terrestrial animal,reptile,animal found in the Americas,lizard,iguana
299,wild animal,carnivore,terrestrial animal,reptile,animal found in Oceania,lizard,komodo dragon

In [30]:
'''
TO DO:
9. Add smarter functionality
    - choose shorter or longer categories first
10. Add learning capabilities
    - if the user wins, they fill a form to add their animal to the database
'''

Size of dataset:  513
Question 1:

Is it a wild animal yes

Question 2:

Is it a omnivore? no

Question 3:

Is it a herbivore? no

Question 4:

Is it a insectivore? no

Question 5:

Is it a carnivore? yes

Size of dataset:  192
Question 6:

Is it a semi-aquatic animal? no

Question 7:

Is it a terrestrial animal? yes

Size of dataset:  87
Question 8:

Is it a mammal? no

Question 9:

Is it a reptile? yes

Size of dataset:  34
Question 10:

Is it a animal found worldwide? no

Question 11:

Is it a animal found in Africa? no

Question 12:

Is it a animal found in Eurasia? no

Question 13:

Is it a animal found in the Americas? yes

Size of dataset:  8
Question 14:

Is it a snake? yes

Size of dataset:  6
Species list in dataset:  ['rattlesnake', 'kingsnake', 'garter snake', 'galapagos snake', 'copperhead snake', 'boa']
Question 15:

Is it a rattlesnake? yes

Size of dataset:  1

'\nTO DO:\n2. Add animals - stoat,\n3. Dinosaur is not reptile - maybe delete\n4. Skip nan columns - if the last column is nan, break and print I win\n5. add a/an functionality\n7. Add Question Counter\n8. Add functionality to end game after 20 questions\n9. Add smarter functionality\n    - choose shorter or longer categories first\n    - if all categories in the filtered dataset are the same, just go straight to species\n    - if all other questions have been asked, no need to ask the final question in a column\n'

In [51]:
#chooses a or an for questions with vowels
def make_an(next_word):
    vowels = re.compile("^[aeiouAEIOU]")
    match = vowels.match(next_word)
    if match:
       return 'an'
    else:
       return 'a'

In [62]:
question_counter = 1
filtered_animals = animal_df

def loop_questions(column,filtered_animals):
    global question_counter
    #print("Size of dataset: ",len(filtered_animals))
    list = filtered_animals[column].unique().tolist()

    for animal in list:
        print(f"Question {question_counter}: ")
        if pd.notna(animal):
            a_an = make_an(animal)
            response = input(f"Is it {a_an} {animal}?")
            question_counter+=1
            if response == "no":
                filtered_animals = filtered_animals.loc[filtered_animals[column]!=animal]
            if (question_counter<=20) & (len(filtered_animals)==1) & (response=="yes"):
                print(f"Amazing. So it's a {animal}. I win!")
                return filtered_animals
            if (len(filtered_animals[column].unique())==1):
                return filtered_animals
            if response == "yes":
                filtered_animals = filtered_animals.loc[filtered_animals[column]==animal]
                break
            if (question_counter>20):
                print("That's 20 questions! You win!")
                return filtered_animals
            if (len(filtered_animals)==0):
                print("I'm out of ideas. You win!")
                return filtered_animals
            print("Size of dataset: ",len(filtered_animals))
        
    return filtered_animals

columns = ['domesticated','diet','habitat','Kingdom','region','subtype','species']

for column in range(len(columns)):
    filtered_animals = loop_questions(columns[column],filtered_animals)

filtered_animals=animal_df

Question 1:

Is it a wild animal? yes

Question 2:

Is it an omnivore? yes

Question 3:

Is it a terrestrial animal? no

Size of dataset:  43
Question 4:

Is it a semi-aquatic animal? no

Question 5:

KeyboardInterrupt: Interrupted by user

In [ ]:
#go through each list, ask unique values
#should start with domesticated rather than wild, aquatic rather than terrestrial, but region start with the most common