In [6]:
import sqlite3
import pandas as pd

In [11]:
animals = pd.read_csv("animal_df.csv")
# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(":memory:")

# Write the DataFrame to the database as a table
animals.to_sql("animals", conn, index=False, if_exists="replace")

546

In [10]:
query = """
SELECT *
FROM animals
WHERE location != 'Worldwide'

UNION ALL

SELECT column1, column2, 'Eurasia' AS location
FROM animals
WHERE location = 'Worldwide'

UNION ALL

SELECT column1, column2, 'Africa' AS location
FROM animals
WHERE location = 'Worldwide'

UNION ALL

SELECT column1, column2, 'Americas' AS location
FROM animals
WHERE location = 'Worldwide';
"""

# Update "column1", "column2", etc., with your actual column names (excluding 'location')

# Run the query and return the result as a DataFrame
result_df = pd.read_sql_query(query, conn)
result_df.head()

DatabaseError: Execution failed on sql '
SELECT *
FROM animals
WHERE location != 'Worldwide'

UNION ALL

SELECT column1, column2, 'Eurasia' AS location
FROM animals
WHERE location = 'Worldwide'

UNION ALL

SELECT column1, column2, 'Africa' AS location
FROM animals
WHERE location = 'Worldwide'

UNION ALL

SELECT column1, column2, 'Americas' AS location
FROM animals
WHERE location = 'Worldwide';
': no such column: column1

In [ ]:
%sql sqlite:///my_database.db